@font-face {
  font-family: 'introrustg-base2line';
  src: url('introrustg-base2line-webfont.woff2') format('woff2'),
  url('introrustg-base2line-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}